* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar
{
  width: 14px;
}

::-webkit-scrollbar-thumb
{
  background: linear-gradient(transparent, #009cad);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover
{
  background: linear-gradient(transparent,#016773);
}


body{
  background-color: #534e5c;
  background-size: cover;
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height:100%; 
  min-width: 100%;
}


nav {
  width: 100%;
  height: 60px;
  background-color: #009cad;

}


nav p {
  font-family: "Audiowide",sans-serif;
  color:  #ffffff;
  font-size: 30px;
  line-height: 55px;
  float: left;
  padding: 5px 10px;
  text-transform: uppercase;

}

nav ul {
  float: right;

}

nav ul li {
  float: left;
  list-style: none;
  position: relative;

}

nav ul li a {
  display: block;
  font-family: Helvetica,monospace;
  color:  #ffffff;
  font-size: 22px;
  padding: 22px 14px;
  text-decoration: none;
}

nav ul li a:hover  {
  color:  #00e5ff;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #009cad;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;
  
}

nav ul li ul li {
  width: 180px;
  border-radius: 4px;
}

nav ul li ul li a{
  padding: 8px 14px;
}

nav ul li ul li a:hover {
  background: #016773;
}

/*------main-------*/

.grid {
  display: grid;
  grid-template-columns: 1fr;
  width: auto;
  border-radius: 10px;
  padding-right: 10%;
  padding-left: 10%;
  margin-top: 30px;
  justify-content: center;
  opacity: 96%;
}

.grid div:nth-child(odd) {
  background-color: #006879;
  border-radius: 5px;
}

.grid div:nth-child(even) {
  background-color: #ebf0f6;
  border-radius: 5px;
}

.fa {
  padding: 1.3%;
  font-size: 30px;
  width: 3%;
  text-align: center;
  text-decoration: none;
  margin: 0.8%;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.b1 {
  align-items: center;
  align-content: center;
  align-self: center;
  margin-top: 10px;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: auto;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: #d600a1;
  color: white;
  margin: 1%;
}

.fa-twitter {
  background: #125688;
  color: white;
  margin-left: 38%;
  margin-bottom: 5%;
  margin-top: 10%;
}

.fa-discord {
  background: #5865F2;
  color: white;
  padding: 1.4%;
  font-size: 1.6vw;
  width: 3%;
  text-align: center;
  text-decoration: none;
  margin: 3% 1%;
  border-radius: 10%;
}

.fa-discord:hover {
  opacity: 0.7;
}

.fa-envelope-open {
  background: #00a64b;
  color: white;
  padding: 1.4%;
  font-size: 1.6vw;
  width: 3%;
  text-align: center;
  text-decoration: none;
  margin: 3% 1%;
  border-radius: 10%;
}


h1 {
  text-align: center;
  font-family: Helvetica,sans-serif;
  margin-top: 2%;
  margin-bottom: 2%;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5vw;
  resize: none;
  width: auto;
  height: auto;
  color: #f0f0f0;
}


.firsttext {
  color: #ffffff;
  margin: 3%;
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
  font-family: arial;
  font-size: 1vw;
}


/*-----footer------*/

.footer {
  color: #d9d9d9;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #009cad;
  margin-top: 6%;
  position: absolute;

}
