* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar
{
  width: 14px;
}

::-webkit-scrollbar-thumb
{
  background: linear-gradient(transparent, #009cad);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover
{
  background: linear-gradient(transparent,#016773);
}


body{
  background-color: #534e5c;
  background-size: cover;
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height:100%; 
  min-width: 100%;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #009cad;

}


nav p {
  font-family: "Audiowide",sans-serif;
  color:  #ffffff;
  font-size: 30px;
  line-height: 55px;
  float: left;
  padding: 5px 10px;
  text-transform: uppercase;

}

nav ul {
  float: right;

}

nav ul li {
  float: left;
  list-style: none;
  position: relative;

}

nav ul li a {
  display: block;
  font-family: Helvetica,monospace;
  color:  #ffffff;
  font-size: 22px;
  padding: 22px 14px;
  text-decoration: none;
}

nav ul li a:hover  {
  color:  #00e5ff;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #009cad;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;
  
}

nav ul li ul li {
  width: 180px;
  border-radius: 4px;
}

nav ul li ul li a{
  padding: 8px 14px;
}

nav ul li ul li a:hover {
  background: #016773;
}

/*--- main stuff----*/

.grid {
  display: grid;
  grid-template-columns: 1fr;
  width: auto;
  border-radius: 10px;
  padding-right: 10%;
  padding-left: 10%;
  margin-top: 30px;
  justify-content: center;
}

.grid div:nth-child(even){
  background-color: #006879;
  border-radius: 10px;
  padding-left: 3%;
  padding-right: 2%;

}

.grid div:nth-child(odd){
  background-color: #006879;
  border-radius: 10px;
  padding-left: 3%;
  padding-right: 2%;
  opacity: 97%;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr;
  width: auto;
  border-radius: 10px;
  padding-right: 10%;
  padding-left: 10%;
  margin-top: 30px;
  justify-content: center;
}

.grid2 div:nth-child(even){
  background-color: #006879;
  border-radius: 10px;
  padding-left: 3%;
  padding-right: 2%;

}

.grid2 div:nth-child(odd){
  background-color: #006879;
  border-radius: 10px;
  padding-left: 3%;
  padding-right: 2%;
  opacity: 97%;
}

h1 {
  text-align: center;
  font-family: Helvetica,sans-serif;
  margin-top: 2%;
  margin-bottom: 2%;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5vw;
  resize: none;
  width: auto;
  height: auto;
  color: #f0f0f0;
}


h3 {
  text-align: center;
  font-family: Helvetica,sans-serif;
  margin-top: 10%;
  margin-bottom: 10%;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 25px;
  resize: none;
  width: auto;
  height: auto;
  color: #f0f0f0;
}

hr.new5 {
  margin-end: auto;
  margin-start: auto;
  border: 1px insert;
  overflow: hidden;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  color: #016773;

}


.gallery {
  margin: 30px 50px;
  padding-left: 110px;
  padding-right: 50px;
  position: relative;

}

.gallery img{
  width: 80%;
  padding: 10px;
  transition: 1s;
  filter: grayscale(100%);
  border-radius: 10px;
  border: transparent;
  border-color: #009cad;
}

.gallery img:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 25%;
}

div.item2 {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 28%;;
    padding-bottom: 10%;
}


.caption {
    display: block;
    font-family: helvetica;
    color: #ffffff;
}

.mainstuff {
  margin-bottom: 100px;
}

/*-----footer------*/

.footer {
  color: #f0f0f0;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #009cad;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px; 
  padding-bottom: 10px;
  margin-top: 213px;
  position: absolute;

}
