* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar
{
  width: 14px;
}

::-webkit-scrollbar-thumb
{
  background: linear-gradient(transparent, #009cad);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover
{
  background: linear-gradient(transparent,#016773);
}


body{
  background-color: #534e5c;
  background-size: cover;
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height:100%; 
  min-width: 100%;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #009cad;

}


nav p {
  font-family: "Audiowide",sans-serif;
  color:  #ffffff;
  font-size: 30px;
  line-height: 55px;
  float: left;
  padding: 5px 10px;
  text-transform: uppercase;

}

nav ul {
  float: right;

}

nav ul li {
  float: left;
  list-style: none;
  position: relative;

}

nav ul li a {
  display: block;
  font-family: Helvetica,monospace;
  color:  #ffffff;
  font-size: 22px;
  padding: 22px 14px;
  text-decoration: none;
}

nav ul li a:hover  {
  color:  #00e5ff;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #009cad;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;
  
}

nav ul li ul li {
  width: 180px;
  border-radius: 4px;
}

nav ul li ul li a{
  padding: 8px 14px;
}

nav ul li ul li a:hover {
  background: #016773;
}

/*--- main stuff----*/

.grid {
  grid-template-columns:  1fr;
  display: grid;
  margin-top: 50px;
  margin-bottom: 80px;
  padding-left: 10%;
  padding-right: 10%;
  text-decoration: none;
}

.grid div:nth-child(odd) {
  background-color: #006879;
  opacity: 95%;
  border-radius: 5px;
}

.grid div:nth-child(even) {
  background-color: #006879;
  border-radius: 5px;
  opacity: 95%;
}

h1 {
  text-align: center;
  font-family: Helvetica,sans-serif;
  margin-top: 2%;
  margin-bottom: 2%;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5vw;
  resize: none;
  width: auto;
  height: auto;
  color: #f0f0f0;
}
.video_text {
  margin-top: 5%;
  padding-left: 11.7%;
  padding-right: 365px;
  text-align: left;
  color: #fff;
  font-size: 1vw ;
}

.video_text2 {
  margin-top: 3%;
  text-align: left;
  color: #fff;
  padding-left: 11.7%;
  padding-right: 11.7%;
  font-size: 1vw;
  line-height: 30px;
}

.video_text3 {
  margin-top: 3%;
  text-align: left;
  color: #fff;
  padding-left: 11.4%;
  padding-right: 11.4%;
  font-size: 1vw;
  line-height: 3vw;
  padding-bottom: 10%;
}

iframe {
  margin-top:10% ;
  width: 100%;
  align-content: center;
  align-items: center;

}

/*-----footer------*/

.footer {
  color: #d9d9d9;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #009cad;
  margin-top: 50px;
  position: absolute;

}